PROJECT_NAME=StudyLMS API
API_V1_STR=/api/v1
SECRET_KEY=super-secret-key-change-in-production-1234567890!@#$%
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# MongoDB Atlas Database
MONGODB_URL=mongodb+srv://ashchavan7540_db_user:QdCLAeKUWJEmnDlC@studentlms.pssom1y.mongodb.net/
DATABASE_NAME=studylms_db

# Cloudinary Media Storage
CLOUDINARY_CLOUD_NAME=fesne5tm
CLOUDINARY_API_KEY=387574296742661
CLOUDINARY_API_SECRET=McWJQbHptLabQtXRbosc3RgICYo
CLOUDINARY_URL=cloudinary://387574296742661:McWJQbHptLabQtXRbosc3RgICYo@fesne5tm

CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000","http://localhost:8000"]
